<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS DEMO</title>
</head>
<body>
    <h1>Upload file to IPFS</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>FileName:</label>
        <input type="text" name="fileName">
        <br>
        <label>Upload File:</label>
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
</body>
</html>